<ion-view title="Home">
    <ion-content>
        <button class="demo" id="demo" style="position: relative; left: 5%; right: 5%; bottom: 5%;" 
                >Demo</button><br><br><br>
    <br><br><br<br>><center>
    <form method="get" action="main.html">&nbsp;
  <input id="textf" type="text" name="textf" id="text" class="textf" placeholder="Enter Search String" style="width: 230px;height: 40px">&nbsp;
  <button class="button">Search</button>
    </form></center>
    <button id="myBtn1" class="button1" style="font-size:12px" ng-click="getTweetsData('trump')">Trump</button>
<button id="myBtn2" class="button2"  style="font-size:12px" ng-click="getTweetsData('wayne bridge')">Wayne</button>
    <button id="myBtn3" class="button3"  style="font-size:12px" ng-click="getTweetsData('love')">Love</button>
    <button id="myBtn4" class="button4"  style="font-size:12px" ng-click="getTweetsData('game')">Game</button>
    <button id="myBtn5" class="button5"  style="font-size:12px" ng-click="getTweetsData('black')">Friday</button>
    <button id="myBtn6" class="button6"  style="font-size:12px" ng-click="getTweetsData('modi')">Modi</button>
    <button id="myBtn7" class="button7"  style="font-size:12px" ng-click="getTweetsData('salt')">Salt</button>

    
    <div id="myModal1" class="modal1">

  <!-- Modal content -->
  <div class="modal1-content">
    <span class="close1">×</span><center>
      <iframe src="https://www.youtube.com/embed/XGSy3_Czz8k" width="900" height="750" align="center">
      </iframe></center>
    
  </div>
        </div>
    </ion-content>
</ion-view>